/*#05CF5E*/

.headBox{
width: 100%;
height: 140px;
background-color: #fff;
border-bottom:1px solid #eee;
}

.headIn{padding-top: 30px;
box-sizing: border-box;
margin: auto;
width: 1000px;
height: 100%;
background-color: #fff;	
}

h1{float:left;
width: 200px;
height: 100px;
background-image: url(../../../img/naverlogo.png);
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
}

h1>a{display: block;
width: 100%;height: 100%;}

.headIn>input{float:left;
margin-top: 25px;
margin-left: 20px;
width: 500px; height: 50px;
border:3px solid #05CF5E;
text-indent: 10px;}

.search_btn{float:left;
margin-top: 25px;
width: 50px;height: 50px;
background-color: #05CF5E;}

.area_links{float:right;}
.a_ho{float:left;
margin-right: 10px;
font-size: 10px;
font-weight: 400;}
.a_ho>a{display: block;
width: 100%;height: 100%;}
.a_ho>a:hover,
.a_ho>a:focus{border-bottom:1px solid #333;}
.a_ju{float:left;
margin-right: 10px;
font-size: 10px;}
.a_ju>a{display: block;
width: 100%;height: 100%;}
.a_ju>a:hover,
.a_ju>a:focus{border-bottom:1px solid #333;}
.a_ha{float:left;
margin-right: 10px;
font-size: 10px;}
.a_ha>a{display: block;
width: 100%;height: 100%;}
.a_ha>a:hover,
.a_ha>a:focus{border-bottom:1px solid #333;}

.promo_img{float:right;
margin-top: 20px;
width: 200px;height: 45px;
background-image: url(../../../img/mobile_18313853168.png);
background-repeat: no-repeat;
-webkit-background-size: 100%;
background-size: 100%;
background-position: center;
}









